:root {
  --border-radius: 5px;
  --accent: #42e4d0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.container {
  width: 300px;
  height: calc(100vh - 2rem);
  padding: 1rem;
  margin-right: 2rem;
}

.summary {
  padding: 1rem;
}

.clear-button {
  position: fixed;
  right: 2rem;
  top: 2rem;
}

.day {
  position: relative;
  width: 100%;
  height: calc(100% - 2rem);
  background-color: #3a3a3a;
  border-radius: var(--border-radius);
  padding-top: 1rem;
  padding-bottom: 1rem;
  user-select: none;
}
.day-inner {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.now {
  position: absolute;
  height: 2px;
  background-color: #e21313;
  width: 100%;
  left: 0;
}
.lines {
  position: absolute;
  top: 1rem;
  width: 100%;
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #555;
}
.line::after {
  content: attr(data-time);
  position: absolute;
  left: calc(100% + 0.5rem);
  font-size: 0.7rem;
  top: -0.5em;
}
.slot {
  position: absolute;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #6e6e6eb0;
  border-radius: var(--border-radius);
  border: 1px solid #c2c2c2;
  z-index: 1;
  cursor: pointer;
}
.slot:focus-within {
  box-shadow: 0 0 0 1px var(--accent);
  border: 1px solid var(--accent);
  z-index: 2;
}
.slot .content {
  position: absolute;
  margin: 0.5rem 0.5rem;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  font-size: 0.8rem;
  cursor: text;
  user-select: text;
}
.slot .content:focus,
.slot .content:active {
  outline: 0;
}
.slot.draft .content {
  cursor: pointer;
}
.slot.short .content {
  margin: 0.125rem 0.5rem;
}

.slot .top {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 0.5rem;
  cursor: n-resize;
}
.slot .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 0.5rem;
  cursor: s-resize;
}
